<template>
    <form action="">
        <div class="modal-card" style="width: auto">
            <header class="modal-card-head">
                <p class="modal-card-title">Login</p>
            </header>
            <section class="modal-card-body">
                <b-field label="Email">
                    <b-input
                            type="email"
                            v-model="username"
                            placeholder="Your email"
                            required>
                    </b-input>
                </b-field>
                <b-field label="Password">
                    <b-input
                            type="password"
                            v-model="password"
                            password-reveal
                            placeholder="Your password"
                            required>
                    </b-input>
                </b-field>
            <b-checkbox v-model="isRemember">Remember me {{ username }}</b-checkbox>
            </section>
            <footer class="modal-card-foot">
                <button class="button" type="button" @click="$parent.close()">Close</button>
                <button @click="login()" class="button">Login</button>
            </footer>
        </div>
    </form>
</template>

<script>
export default {
  name: 'login_modal',
  data: function () {
    return {
      username: 'aaaa',
      password: '',
      isRemember: false
    }
  },
  methods: {
    login: function () {
      this.$store.commit('startLoading')
      this.$store.dispatch('post', {
        username: this.username,
        password: this.password
      }).then(() => {
        this.$store.commit('stopLoading')
      })
    }
  }
}
</script>